/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  animation: animate-in .6s;
}
.slide-fade-leave-active {
  animation: animate-out .6s;
}
@keyframes animate-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
